

body {
  font-family: "Courier New", sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
}

body.landing {
  background-color: #fff;
    width: 100%;
}

.section2 {
    background-color: #fff;
    width: 100%;
    color: #333;

}

.footer {
   background-color: #fff;
    width: 100%;
    text-align:left;
    padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;

}

body.page {
  background-color: #fff;
}

h1 {
  font-size: 28px;
    color: #333;
    text-transform:uppercase;
    font-weight:1200;
}

h2 {
    font-size: 28px;
    text-transform:uppercase;
    font-weight:1200;
}

h3 {
color: #00e0b0;
margin: 40px;
font-weight: 900;
font-size:24px;
}

h4 {
  font-size: 14px;
    color: #00000;
    margin-top: 2em;
}

p {
margin-top:40px;
margin-bottom:40px;
text-align:left;
}

label {
display: inline-block;
margin-bottom: 5px;
font-weight: 700;
font-size:14px;
text-align:left;

}

a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

.site {
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  border:0px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  background-color: #6600cc;
}

.btn:focus, .btn:active {
  background-color: #cc99cc;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #000;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
  color: #fff;

}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #ffdcd2;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #fff;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/*** Navbar ***/


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-inverse {
    margin: 0;
    background-color: #ffffff;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-brand {
  float: right;
  height: 50px;
  padding: 15px 5px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-right {
margin-left:40px;
}


.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}

.logo {
  padding-top: 15px;
  height: auto;
}


/*** Layout ***/


.content-wrapper {
  max-width: 720px;
  padding: 30px;
  margin: 50px auto;
  font-size: 12px;
}

.content {
  padding: 20px
}

.wrapper {
  padding: 20px
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

}

.img-responsive {

    margin-top: 20px;
}



.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.row {
    margin: 10px;
    text-align:center;
    font-size: 18x;
}

.col-md-4 {
    text-align:center;
}

/*** Pages & Posts ***/


body.page .content {
  background-color:#fff;
  color: #333;
}


/*** Landing ***/


body.landing .content {
  text-align: left;

}

.logo-horizontal {
  width: 100%;
}

.logo-footer {
    width:100%;
    max-width: 300px;
}


/*** Signup Form ***/
.forma {
    text-align:left;
    align-content:left;
padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}

.form-group {
      margin-top: 10px;
  margin-bottom: 10px;
        text-align:left;

}

.form-control {
  height: 40px;
text-align:left;


}

.botonforma {
   padding-top:20px;
    text-align:center;
}



.botonlink {
    height: 80px;
    width: 100%;
    max-width: 300px;
    background-color:#00e0b0;
    text-align:center;
}

table {
    width: 100%;
    color: #fff;
}

strong {
    font-weight:1200;}
